{% extends "web/base.html" %}

{% block other_head %}

<script>
	$(document).ready(function () {
	    initialize();
	    
	    $('.alert .close').on("click", function(e) {
		    $(this).parent().hide();
	    });
	    
	});

	//Inicialización:
	function initialize() {    
	    if (navigator.geolocation) {
		  var timeoutVal = 10 * 1000 * 1000;
		  navigator.geolocation.getCurrentPosition(
		    displayPosition, 
		    displayError,
		    { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
		  );
		}
		else {
		  console.log("Lo sentimos...Su dispositivo no soporta Geolocalización");
		}

		function displayPosition(position) {		
			$("#latitud").val(position.coords.latitude);
			$("#longitud").val(position.coords.longitude);
			//Habilitar el BOTON
			$("#button-enviar").html('<span class="glyphicon glyphicon-ok"></span> Enviar');

		}
		function displayError(error) {
	  		var errors = { 
			    1: 'Permiso denegado',
			    2: 'Ubicación no disponible',
			    3: 'Tiempo de espera agotado'
		  	};
		  	console.log("Error: " + errors[error.code]);
		}	
	}

	//Envio de correo
	function sendMail() {	

		nombre = $("#nombre").val();
		telefono = $("#telefono").val();
		latitud = $("#latitud").val();
		longitud = $("#longitud").val();

		if(latitud == "" || longitud == ""){
			$("#gps-warning").show();
			return;
		}

		//$("#button").html('<img src="{{STATIC_URL}}images/ajax-loader.gif"/>');
		$("#button").html('<div class=\"progress progress-striped active">\
		                     <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">\
		                       <span class="sr-only">Enviando</span>\
		                     </div>\
	                           </div>');
		
		mapa = '<img src="http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=600x300&maptype=roadmap&sensor=false&markers=color:red%7Ccolor:red%7Clabel:%7C'+latitud+','+longitud+'&center='+latitud+','+longitud+'">';
		var parametros = {		                	
		                	"nombre":nombre,
		                	"telefono":telefono,
		                	"latitud":latitud,
		                	"longitud":longitud,
		                	"mapa":mapa,
		        		};
		$.ajax({
                data:  parametros,
                url:   "/app/emergencia_mail/",
                type:  'post',
                success:  function (response) {
                	$("#main-form").html('<p style="text-align:center;">Su mensaje ha sido enviado exitósamente...</p>\
					      <p style="text-align:center;">\
					          <img src="{{STATIC_URL}}images/checkmark.png"/>\
					      </p>');
			
			
			
			
                },
                error:  function (response) {
                	alert("Ocurrió un error y su emergencia no ha sido enviada, por favor llame al 911");
                	$("#button").empty();
                }
        });			
	}
	
	
	
	
</script>

{% endblock %}


{% block container %}

<div class="row">
   <div class="col-center">	
   	<div class="panel panel-default">
	  <div class="panel-heading">Envio de alerta a la central ECU911</div>
	  <div class="panel-body">
	    <form role="search">
	    <div class="form-group" id="main-form">
	      <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre (opcional)">
	      <input id="telefono" name="telefono" type="tel" class="form-control" placeholder="Telefono (opcional)">
	      <input id="latitud" name="latitud" type="hidden" class="form-control" placeholder="LAT">
	      <input id="longitud" name="longitud" type="hidden" class="form-control" placeholder="LONG">
	      
	      <div id="gps-warning" class="alert alert-warning fade in" style="display: none;">
		<button type="button" class="close" aria-hidden="true">×</button>
		<h4>Espere un momento</h4>
		<p>Medicus está obteniendo la infornación de su dispositivo..</p>
		<p>
	      </div>
	      
	      <div id="button">
		 <button type="button" id="button-enviar" class="btn btn-danger btn-lg btn-block" onclick="sendMail()">
			<img src="{{STATIC_URL}}images/ajax-loader-white.gif" /> Obteniendo Ubicación...
		 </button>
	      </div>
	      
	      <div class="bs-callout bs-callout-warning">
		<p>* Se enviará un correo con sus datos y ubicacion actual a la central de emergencias <strong>ECU911</strong><p>
	      </div>
	      
	    
	    </div>
	    </form>
	  </div>
	</div>	
   </div>
</div>

<div class="row"></div>







{% endblock %}
