<!DOCTYPE HTML>
<html>
	<head>
		<title>Medikus</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Sitio Web de consulta de centros médicos cercanos" />
		<meta name="keywords" content="centros médicos, hospital, clínica, maternidad, salud" />
		
		<!-- Template -->
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet" />
                <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
		<script src="static/web/js/jquery.min.js"></script>
		<script src="static/web/js/jquery.dropotron.js"></script>
		<script src="static/web/js/config.js"></script>
		<script src="static/web/js/skel.min.js"></script>
		<script src="static/web/js/skel-panels.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="static/web/css/skel-noscript.css" />
			<link rel="stylesheet" href="static/web/css/style.css" />
			<link rel="stylesheet" href="static/web/css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]>
		<script src="static/web/js/html5shiv.js"></script>
		<link rel="stylesheet" href="static/web/css/ie8.css" />
		<![endif]-->
		<link rel="icon" type="image/png" href="/static/images/m_128.png" />
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<section id="header">
									
									<!-- Logo -->
										<h1>Medikus</h1>
									
									<!-- Nav -->
										<nav id="nav">
											<ul>
												
												<li><a href="/">Página inicial</a></li>
												<li><a href="/app/atencion">Centros médicos</a></li>
												<li><a href="/app/sintomas">Síntomas</a></li>
												<li><a href="/app/especializacion">Especialidades</a></li>
												<li><a href="/app/emergencia">Emergencia</a></li>
												<li><a href="/app/quienes">Quienes somos</a></li>
												
												<!--li><a href="/app/ayuda/">Ayuda</a> </li-->
											</ul>
										</nav>

								</section>
							<div style="clear:both"></div>
						</div>
					</div>
					<div class="row">
						<div class="12u" style="padding-top: 0.7em;">

							<!-- Banner -->
								<section id="banner">
									
										<span class="image image-full"><img src="static/web/images/pic01.jpg" alt="" /></span>
										<header>
											<h2>Centros de atención cercanos a ti</h2>
										</header>
									</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">
								
							<!-- Intro -->
								<section id="intro">
								
									<div>
										<div class="row">
											<div class="4u">
												
												<section class="first">
													<a href="/app/atencion"><span class="pennant"><span class="icon64 icon64-1"></span></span></a>
													<header>
														<h2><a href="/app/atencion">Quiero buscar un centro de atención cercano</a></h2>
													</header>
													<p>Búsqueda de centros de atención cercanos de donde se encuentra en este momento.</p>
												</section>
											</div>
											<div class="4u">
												<section class="middle">
													<a href="/app/sintomas"><span class="pennant pennant-alt"><span class="icon64 icon64-2"></span></span></a>
													<header>
														<h2><a href="/app/sintomas">Quiero describir mis síntomas</a></h2>
													</header>
													<p>Describa los síntomas para recomendar un centro de atención cercano que lo pueda ayudar.</p>
												</section>
											</div>
											<div class="4u">
												<section class="last">
													<a href="/app/especializacion"><span class="pennant pennant-alt2"><span class="icon64 icon64-3"></span></span></a>
													<header>
														<h2><a href="/app/especializacion">Quiero atención especializada</a></h2>
													</header>
													<p>Necesita un especialista cercano.</p>
												</section>
											</div>
										</div>
									</div>

									<div class="actions">
									<a href="/app/emergencia" class="button button-big">Tengo una emergencia médica</a></div>
								
								</section>

						</div>
					</div>
				</div>
			</div>
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="container">
				  <div class="row">
				  <div class="12u">

							<!-- Acuerdo de responsabilidad -->
								<section>
									<header class="major">
										<h2>Limitación de responsabilidad</h2>
									</header>
									<div>
										<div class="row">
										  <div class="12u">
											  <div class="box">
												  <p>La información proporcionada por el sistema puede no se precisa y no remplaza de ninguna forma una atención médica oportuna. No olvide consultar con un médico general el cual  pueda orientarlo más adecuadamente hacia una especialidad. </p>
													<p>La información general, así como la de ubicación de los centros médicos fue obtenida mediante información pública consultada en Internet y puede ser errada.</p>
													<p>La opción de &quot;Tengo una Emergencia Médica&quot; simula que envía información de su ubicación exacta al sistema <strong>ECU911</strong>, pero no da detalles de dicha emergencia.</p>
											</div>
										  </div>
									  </div>
									</div>
								</section>
							
						</div>
					</div>
				</div>
			</div>

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				
				<!-- Footer -->
					<section id="footer" class="container">
						<div class="row">
						  <div class="6u">
							
						  <section>
									<header>
										<h2>Qué es Medikus?</h2>
									</header>
									<a class="image image-full"><img src="static/web/images/pic10.jpg" alt="" /></a>
									<p>
									Medikus es una aplicación Web de Inteligencia Artifical que buscar especialistas cercanos a usted. No pretente reemplazar la opinión de un médico si no más bien ayudar a encontrar el mejor.
									  <footer></footer>
						            </p>						            
						  </section>
						  </div>
                            			  <div class="6u">
							
				      	<section>
									<header>
										<h2>Cómo puedo colaborar?</h2>
									</header>
						            <p>Medikus es una aplicación social de libre uso para la comunidad ecuatoriana. Los datos de lugares de atención están disponibles apoyando la iniciativa de <a href="http://www.datosabiertos.ec/dataset/lugares-de-atencion" target="_blank">Datos Abiertos</a>. Si desea agregar un lugar de atención, puede hacerlo <a href="https://docs.google.com/forms/d/1_NiYEKhBPgtrp5LGaQBDTGWdUDtmbqKZ0uJzEQrg_wM/viewform" target="_blank">aquí</a>. Apreciamos su contribución al proyecto y a los datos abiertos en el Ecuador.</p> 		
						            <p><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.es" target="_blank"><img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></p>				            

									<header>
										<h2>Síguenos en</h2>
									</header>
									<ul class="social">
										<li class="facebook"><a target="_blank" href="http://facebook.com/medikusec" class="icon48 icon48-1">Facebook</a></li>
										<!--li class="twitter"><a target="_blank" href="https://twitter.com/search?q=medikus&src=typd&f=realtime" class="icon48 icon48-2">Twitter</a></li-->
										<li class="googleplus"><a target="_blank" href="https://plus.google.com/100125665048508883453" rel="publisher" class="icon48 icon48-6">Google+</a> </li>
									</ul>
						</section>
							
							</div>
						</div>
						
						<div class="row">
							<div class="12u">
							
								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy;2013-Derechos Reservados</li>
											<li>Diseño adaptado de <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				
			</div>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-45186660-1', 'medikus-ec.info');
		  ga('send', 'pageview');

		</script>
	</body>
</html>